<html>
<head>
    <meta charset="UTF-8">
    <title>Site's functions</title>
</head>
        <body>
            <table width="100%" align="left" valign="middle">
                <tr bgcolor="#4682B4">
                    <td><h2 align="center">Game Administration Site</h2></td>
                    <td align="center"><a href="{% url 'logout' %}">Log Off</a></td>
                </tr>
            </table>
            <hr align="left" size="6">
            <table align="center" border="6" rules="cols" bgcolor="#4682B4" bordercolor=#b2ff80">
                <tr>
                    <td><input type="button" value="Home" onClick='location.href="{% url "player_home" %}"'></td>
                    <td><input type="button" value="List of players" onClick='location.href="{% url "player_all" %}"'></td>
                    <td><input type="button" value="Filter of players" onClick='location.href="{% url "player_filter" %}"'></td>
                    <td><input type="button" value="Administrator's menu" onClick='location.href="{% url "admin:index" %}"'></td>
                </tr>
            </table>
        {% block content %}{% endblock %}
            <ol title="Site's functions">
                <li><a href="{% url 'player_home' %}">Home</a>
                <li><a href="{% url 'player_all' %}">List of players</a>
                <li><a href="{% url 'player_filter' %}">Filter of players </a>
                <li><a href="{% url 'admin:index' %}">Administrator's menu</a>
            </ol>
        </body>
</html>